<!DOCTYPE html>
<html>
<head>
    <title>Members</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'nav.html' %}
    <div class="container">
    <h1>Members</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Join Date</th>
            {% if is_admin %}
            <th>Action</th>
            {% endif %}
        </tr>
        {% for member in members %}
        <tr>
            <td>2026{{ '%02d'|format(member[0]) }}</td>
            <td>{{ member[1] }}</td>
            <td>{{ member[2] }}</td>
            <td>{{ member[3] }}</td>
            <td>{{ member[4] }}</td>
            <td>{{ member[5] }}</td>
            {% if is_admin %}
            <td><a href="/delete_member/{{ member[0] }}">Delete</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>